body {
    background-image: linear-gradient(rgba(255, 241, 241, 0.651), rgba(255, 241,241, 0.651)), url("fondo17.webp");
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}
.centrar-listas ol{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    font-size: 30px;
    color: #000;
   
}
.parent{
    text-align: center;
}
.centrar-listas {
	text-align: center;
}
.centrar-listas ol {
	text-align: left;
	display: inline-block;
}
h1 {
    color: #2de92d;
    -webkit-text-stroke: 3px rgb(16, 97, 13);
    letter-spacing:15px;
    text-align:center;
    font-family: Cooper;
    font-size: 180px; 
}
*{
    margin: 0;
    padding: 0;
  }
  header{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    width: 600px;
    margin: 0 auto;
    border-style: inherit;
  }
  ul{
    list-style: none;
  }
  dd{
    text-align:justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: none;
    font-weight: bold;
    font-size: 20px;
  }
  #menu li>a{
    line-height: 3ex;
    border-radius: 15px;
    border-style: dashed;
    background-color: #3bcc72;
    color: black;
    padding: 10px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    min-width: 100px;
    margin: 10px;
    font-family: Centuar;
   
  }
  #menu li>a:hover{
    color: #000;
    background-color: #ffffff;
  }
  #menu>li{
    float: left;
    text-align:center
  }
  #menu>li>ul{
    display: none;
    position: absolute;
  }
  #menu>li:hover>ul {
    display:block;
    position: absolute;
  }
  
  em{
    color: #32cd32;
    text-align:justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: none;
    font-weight: bold;
    font-size: 20px;
  }
  
  h2{
    color: #2ff12f;
    -webkit-text-stroke: 2px black;
    letter-spacing:3px;
    text-align:center;
    font-family: Cambria;
    font-size: 70px;   
  }
  p{
    text-align:justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: none;
    font-weight: bold;
    font-size: 20px;
  }
  marquee{
    color: rgb(60, 255, 0);
    -webkit-text-stroke: 2px black;
    letter-spacing: 10px;
    text-align:center;
    font-family: honey notes;
    font-size: 50px;   
  }
  table{
      border-collapse: separate;
      border-spacing: 5px;
      background: #32cd32;
      color: rgb(0, 0, 0);
  }
  td, th{
      background: rgb(0, 255, 106)
  }
